
<%= link_to "Back to Pictures", images_url %> | <%= link_to "Edit", edit_picture_path(@image) %>| <%= link_to "Delete", delete_image_path(@image), method: :delete, data: {confirm: "Are you sure you want to delete this picture?"}  %>

<p><%= @image.title %>, <%=@image.artist %></p>
<img src="<%=@image.url%>">
